* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Code Pro";
  word-spacing: -5px;
  letter-spacing: -1px;
  min-width: 1256px;
  max-width: 1256px;
}
span {
  color: blue;
}
/* HEADER */

header {
  text-align: center;
  text-align: center;
  width: 100%;
}
#nav-bar {
  display: flex;
  width: 100%;
  padding: 20px;
}

#nav-bar #squares {
  flex-grow: 0.2;
  width: 50px;
  height: 20px;
  display: flex;
  gap: 2px;
}
#square1 {
  display: flex;
  gap: 2px;
}
#line1 {
  height: 20px;
  width: 3px;
  background-color: black;
}
#square2 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}
#line2 {
  width: 20px;
  height: 3px;
  background-color: black;
}

#nav-bar #nav-links {
  flex-grow: 4;
  display: flex;
  justify-content: start;
  gap: 60px;
}
#nav-links a,
#data-client,
#twolinks a {
  text-decoration: none;
  color: black;
}
#nav-bar #data-client {
  flex-grow: 0.7;
  display: flex;
  justify-content: space-around;
}
hr {
  width: 100%;
  left: -20px;
  position: relative;
  margin: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.438);
}

/* CONTENT */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#twolinks {
  width: 100%;
  display: flex;
  gap: 20px;
  font-weight: 600;
  padding: 20px;
}

#slogan {
  margin-top: 30px;
  max-width: 75%;
}
#slogan img {
  width: 100%;
}

#texto, #texto2, #texto3, #texto4, #texto5, #texto6 {
  margin-top: 100px;
  width: 75%;
}
#texto5 p{
  margin-top: 15px;
}
#texto p {
  margin-top: 15px;
}

#pad-photo {
  margin-top: 100px;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  position: relative;
}
#pad-photo1 {
  z-index: 1;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pad-photo1 img {
  width: 500px;
}
#pad-photo1 img:last-of-type {
  margin-left: 100px;
  width: 400px;
  margin-right: 100px;
}
#pad-photo2 {
  width: 800px;
  height: 750px;
  background-color: rgb(245, 245, 119);
  /* config */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  z-index: 0;
}



#video {
  margin-top: 100px;
}

#pad-photo3 {
  margin-top: 100px;
  display: flex;
  max-width: 1256px;
}
      #ladoEsq {
        width: 60vw;
        height: 1000px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        background-color: #b6ffc0;
        z-index: 0;
      }
          #ladoEsq img {
            height: 300px;
            width: 350px;
          }
      #ladoDir {
        display: flex;
        align-items: center;
        width: 40vw;
        position: relative;
      }
          #ladoDir img {
            width: 570px;
            position: absolute;
            right: 20px;
            z-index: 1;
          }
      #imagem6{
        width: 85%;
        margin-top: 100px;
      }

#pad-photos4{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 800px;
  width: 800px;
  background-color: #d5b3ff;
  position: relative;
}
#pad-photos4 img:first-child{
  height: 300px;
}
#pad-photos4 img:last-child{
  width: 600px;
  margin-left: 100px;
}

#pad-photos5 {
  margin-top: 100px;
  width: 100%;
  display: flex;
}
#pad-photos5 img{
  width: 500px;
}

#pad-photos5 .fundo-color{
  width: auto;
  background-color: #b1c5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 100px;
}
.fundo-color a{
  margin-top: 20px;
  text-decoration: none;
  color: blue;
  font-weight: 700;
  font-size: 1.60em;
}
.fundo-color h2{
  font-size: 1.2em;
}

hr:last-of-type{
  margin: 100px 0;
  position: unset;
}

/* FOOTER */

footer {
  position: sticky;
  top: 100%;
  text-align: center;
  width: 100%;
  background-color: purple;
}